<nlog 
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true">

  <targets>
    <target xsi:type="Console" name="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
  </targets>

  <rules>
    <logger name="*" minLevel="Info" appendTo="Console"/>
  </rules>

</nlog>